.header {
    position: 'sticky';
    top: 0;
    z-index: 1;
    width: '100%';
    display: 'flex';
    align-items: 'center';
    height: 8vh;
}

.layout {
    color: "white";
    font-family: "Roboto";
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.menu { 
    flex: 1;
    min-width: 0;
    line-height: 8vh !important;
}

.logoNav {
    padding-left: 83px;
    min-width: 120px;
    height: auto;
    align-items: center;
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg");
    background-position-y: 15px;
    background-repeat: no-repeat;
    background-size: 50px;
    border-radius: 6px;
    margin-inline-end: 24px;
}